<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Đăng ký tài khoản</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.2/css/bootstrap.min.css}"/>
    <link th:rel="stylesheet" th:href="@{/webjars/font-awesome/5.15.4/css/all.css}"/>
    <script th:src="@{/webjars/jquery/3.6.3/jquery.min.js}"></script>
</head>
<body>
<div class="d-flex justify-content-center align-items-center py-5 min-vh-100">
    <div style="width: 500px" class="border rounded p-4 shadow">
        <div th:if="${message}" class="alert alert-success mb-3" th:text="${message}"></div>
        <h2 class="mb-4 text-center">Đăng ký tài khoản</h2>
        <form th:action="@{/auth/register}" th:object="${userDTO}" method="post">
            <div class="mb-3">
                <label for="username" class="form-label">Tên đăng nhập:</label>
                <input type="text" id="username" th:field="*{username}" class="form-control"
                       placeholder="Nhập tên đăng nhập">
                <div class="text-danger" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
            </div>
            <div class="row mb-3">
                <div class="col">
                    <label for="name" class="form-label">Họ và tên:</label>
                    <input type="text" id="name" th:field="*{name}" class="form-control" placeholder="Nhập họ và tên">
                    <div class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
                </div>
                <div class="col">
                    <label for="dob" class="form-label">Ngày sinh:</label>
                    <input type="date" id="dob" th:field="*{dob}" class="form-control"
                           th:attr="max=${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}">
                    <div class="text-danger" th:if="${#fields.hasErrors('dob')}" th:errors="*{dob}"></div>
                </div>
            </div>

            <div class="mb-3">
                <div class="d-flex">
                    <label class="form-label">Giới tính:</label>
                    <div class="form-check form-check-inline ms-2">
                        <input class="form-check-input" type="radio" th:field="*{sex}" value="true" id="male">
                        <label class="form-check-label" for="male">Nam</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" th:field="*{sex}" value="false" id="female">
                        <label class="form-check-label" for="female">Nữ</label>
                    </div>
                </div>
                <div class="text-danger mt-1" th:if="${#fields.hasErrors('sex')}" th:errors="*{sex}"></div>
            </div>

            <div class="mb-3">
                <label for="phone" class="form-label">Số điện thoại:</label>
                <input type="text" id="phone" th:field="*{phone}" class="form-control" placeholder="Nhập số điện thoại">
                <div class="text-danger" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></div>
            </div>

            <div class="mb-3">
                <label for="email" id="email" class="form-label">Email:</label>
                <input type="email" th:field="*{email}" class="form-control" placeholder="Nhập email">
                <div class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
            </div>

            <div class="mb-3">
                <label for="password" class="form-label">Mật khẩu:</label>
                <input type="password" id="password" th:field="*{password}" class="form-control"
                       placeholder="Nhập mật khẩu">
                <div class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
            </div>

            <div class="d-grid">
                <button type="submit" class="btn btn-primary">Đăng ký</button>
            </div>
        </form>
        <div class="mt-3 text-center">
            <span>Bạn đã có tài khoản? </span>
            <a th:href="@{/auth/login}">Đăng nhập</a>
        </div>
    </div>
</div>
</body>
</html>